<carousel [isAnimated]="true">
    <slide>
        <img src="assets/images/man-in-suit-on-stairs.jpg" alt="slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/woman-infront-of-tree-with-berries.jpeg" alt="slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/worldmap.jpg" alt="slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to Zimmer!</h1>
       </div>
</section>
